body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://th.bing.com/th/id/OIP.NEy01UJmU7tBNLRi-ja5fQHaED?rs=1&pid=ImgDetMain);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #root {
    background-color: #fff;
    width: 100%;
    margin-top: 35%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  p {
    font-size: 18px;
    margin: 10px 0;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #45a049;
  }